*{padding: 0;margin: 0;border: 0;}
body{font:12px/22px arail scanf "宋体";color: #fff;background-color: #000;}
ul{list-style:none;}
a{text-decoration: none;color: #fff;}
.clear{clear: left;}
.logo{width: 1000px;margin: 0px auto;}
.logo img{width: 200px;height: 200px;}
.menu{width: 1000px;margin: 0px auto;}
.menu li{float: right;width: 120px;line-height: 40px;}
.menu a{font-size: 16px;color: #fff;}
.search{width:1000px;height:0px auto;float: right;background: #000;padding: 10px;}
.search input{float: right;}
.bread{width:1000px;position:relative;left:-70px;text-align: left;}
.banner img{width: 100%;height: auto;}
.main{width: 1000px;margin: 0 auto;}
.m_left{width: 248px;height:298px;float: right;border: 1px solid #ccc;}
.m_right{width: 748px;height:298px;float: right;border: 1px solid #ccc;}
.content{width:1000px;margin: 0 auto;}
.c_left{width: 600px;height: auto;float:left;}
.c_right{width: 400px;height: auto;float:left;}
.center{width: 1000px;margin:0 auto;}
.footer{width:1000px;height: 100px;color: #fff;text-align: right; }
.footer img{display: block;float: right;}
.footer h3{margin:10px;color: #fff;text-align:center;float: right;}